body{
text-align: center;
background-color: #e8ffff;
margin: 0px;
}

.pro{
  text-decoration: underline;
}

p{
  font-family: 'Zilla Slab', serif;
  font-style: strong;
  font-size: 1.25rem;

}

h1{
  margin: 50px auto 0px auto;
  font-family: 'Sofia', cursive;
  font-size: 3.625rem;
  color: #41aea9;
}

.heading-2{
  font-family: 'Zilla Slab', serif;
  font-size: 2rem;
  margin: 20px;
  color: #41aea9;

}

h2{
  font-family: 'Roboto Mono', serif;
  color: #41aea9;

}

h3{
  font-family: 'Zilla Slab', serif;
  color: #213e3b;
  font-size: 1.5rem;

}

.footer-link{
  color: #11999E;
  font-family: 'Roboto Mono', serif;
  margin: auto 9px;
  font-weight: bold;

}
.top-container{
  position: relative;
  padding-top: 90px;
  line-height: 1.89;
}

hr{
  border-style: dotted none none;
  border-width: 15px;
  border-color: grey;
  width: 5%;

}

.skills{
  margin-top: 50px;
}
.contact-me{
  margin-top: 50px;
}
.skill-row{
  width: 50%;
  margin: 80px auto;
  text-align: left;
  line-height: 2;
}

.html-css-graphic{
  width: 25%;
  margin-right: 30px;
  float: left;
}

.c-graphic{
  float: right;
  margin-left: 30px;
  width: 25%;
}


.cloud-bottom{
  position: absolute;
  bottom: 300px;
  left: 300px;


}

.cloud-top{
  position: absolute;
  right: 300px;
  top: 50px;

}

.contact-button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 30px;
   font-weight: 100;
   padding: 10px;
   background-color: #41AEA9;
   -webkit-box-shadow: 0 0 10px 0 #000000;
   -moz-box-shadow: 0 0 10px 0 #000000;
   box-shadow: 0 0 10px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-button:hover {
   background: #0ED9D1;
   border: solid #A6F6F1 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container{
  background-color: #66bfbf;
  margin: 0 0 0 0;
  height: 90px;
  padding-top: 30px;
  width: auto;
}
